<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EntrepriseMapper">


    <resultMap id="Entreprise_ResultMap" type="com.example.domain.entreprise.Entreprise">
        <id 	property="id" 						column="id" />
        <result property="siren" 			column="siren" />
        <association property="siege" select="com.example.mapper.InformationsSiegeMapper.findOne" column="id_siege" />
        <association property="identification_entreprise" select="com.example.mapper.IdentificationEntrepriseMapper.findOne" column="id_identification_entreprise" />
        <association property="caracteristiques_economiques" select="com.example.mapper.CaracteristiquesEconomiquesEntrepriseMapper.findOne" column="id_caracteristiques" />
        <!-- http://dongchuan.github.io/mybatis/2016/04/17/MyBatis-Advanced.html -->
        <collection property="etablissements" javaType="ArrayList" column="id_entreprise" ofType="com.example.domain.etablissement.Etablissement"> <!--ofType="com.example.domain.etablissement.Etablissement">-->
            <id 	property="id" 						column="etablissementID" />
            <result property="nic" 			column="nic" />
        </collection>
    </resultMap>


<select id="findAll" resultMap="Entreprise_ResultMap"> <!-- resultType="com.example.domain.entreprise.Entreprise" -->
<!-- left join because we want all enterprises -->
    select * from entreprise 
	left join 
    (select etablissement.id as etablissementID, etablissement.id_entreprise, etablissement.nic
    from etablissement) as e
    on e.id_entreprise = entreprise.id
</select>
<select id="findOne" resultMap="Entreprise_ResultMap">
    select * from entreprise
	left join
    (select etablissement.id as etablissementID, etablissement.id_entreprise, etablissement.nic
    from etablissement) as e
    on e.id_entreprise = entreprise.id
    where entreprise.id = #{id}
</select>
<insert id="save" keyProperty="id">
    insert into entreprise (siren, id_siege, id_identification_entreprise, id_caracteristiques) values (#{siren}, #{id_siege}, #{id_identification_entreprise}, #{id_caracteristiques})
</insert>
<update id="update">
    update entreprise set siren = #{siren}, id_siege = #{id_siege}, id_identification_entreprise = #{id_identification_entreprise} , id_caracteristiques= #{id_caracteristiques} where id = #{id}
</update>
<delete id="delete">
    delete from entreprise where id = #{id}
</delete>
<select id="getMaxSiren" resultType="java.lang.Long">
    select siren from entreprise order by siren desc limit 1
</select>

 <resultMap id="EntrepriseSimple_ResultMap" type="com.example.domain.entreprise.Entreprise">
        <id 	property="id" 						column="id" />
    </resultMap>

<select id="get" resultType="com.example.domain.entreprise.Entreprise" resultMap="EntrepriseSimple_ResultMap">
    select * from entreprise where entreprise.id = #{id}
</select>
</mapper>